<html>
    <head>
        <link rel='stylesheet' id='twentyseventeen-style-css'  href='static/css/app.css' type='text/css' media='all' />
    </head>
    <body>
        <header>
            {% if user is defined and user %}
                Bievenue {{ user.login }} 
            {% endif %}
            {% if connected is defined and connected %}
                <a href="/logout">deconnexion</a>
            {% endif %}
        </header>
        {% block content %}{% endblock %}

    </body>
</html>
